body {
  background-color: var(--almond);
}

h1 {
  margin: 1em;
}

.post-list {
  display: grid;
  gap: 1em;
  grid-template-columns: 100vw;
  justify-items: center;
  align-items: stretch;
}

.post {
  background-color: var(--light-almond);
  margin: 0em 1em 0em 1em;
}
